@import "tailwindcss";

@font-face {
  font-family: 'Molex Shoora';
  src: url('/fonts/MolexShoora-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.molex {
  font-family: 'Molex Shoora', sans-serif;
}

.lobster {
  font-family: var(--font-lobster), cursive;
}

.geist-sans {
  font-family: var(--font-geist-sans), sans-serif;
}

.geist-mono {
  font-family: var(--font-geist-mono), monospace;
}

.bg-grid {
  --grid-color: rgba(0, 0, 0, 0.1);
  --cell-size: 8px;                  /* adjust spacing */

  background-color: #eaeaea;
  background-image:
    repeating-linear-gradient(
      to right,
      transparent 0 calc(var(--cell-size) - 1px),
      var(--grid-color) calc(var(--cell-size) - 1px) var(--cell-size)
    ),
    repeating-linear-gradient(
      to bottom,
      transparent 0 calc(var(--cell-size) - 1px),
      var(--grid-color) calc(var(--cell-size) - 1px) var(--cell-size)
    );
}